acres
altair
annotated-types
asgiref
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
ci-info
click
colorama
comtypes
configobj
configparser
cryptography
defusedxml
docx
et_xmlfile
etelemetry
faiss-cpu
filelock
fitz
Flask
flask-cors
fonttools
fpdf
fpdf2
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
graphviz
grpcio
grpcio-status
httplib2
huggingface-hub
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
llvmlite
looseversion
lxml
Markdown
MarkupSafe
more-itertools
mpmath
narwhals
networkx
nibabel
nipype
numba
numpy
openai-whisper
openpyxl
packaging
pandas
pathlib
pdfminer.six
pdfplumber
pillow
proto-plus
protobuf
prov
puremagic
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
pydeck
pydot
pydub
PyMuPDF
pyparsing
PyPDF2
pypdfium2
pypiwin32
python-dateutil
python-docx
python-dotenv
pyttsx3
pytz
pywin32
pyxnat
PyYAML
rdflib
referencing
regex
requests
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
simplejson
six
smmap
SpeechRecognition
streamlit
streamlit-option-menu
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
traits
transformers
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
watchdog
Werkzeug
